{% extends 'base.html.twig' %}

{% block title %}New Calendar{% endblock %}

{% block body %}
    <h1>Prenez votre rendez-vous</h1>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('app_calendar_index') }}" class="btn btn-outline-success btn-lg btn-block">Voir vos reservation</a>
{% endblock %}
