{% extends 'base.html.twig' %}

{% block title %}Editer Utilisateur{% endblock %}

{% block body %}
<div class="container mt-5">

    {% if app.user is defined and app.user.roles is defined %}
        {% if 'ROLE_ADMIN' in app.user.roles %}
            <h1>Editer Utilisateur {{ utilisateur.id }}</h1>

            {{ include('utilisateurs/_form.html.twig', {'button_label': 'Update'}) }}

            {{ include('utilisateurs/_delete_form.html.twig') }}

            <br>
            
            <a href="{{ path('app_utilisateurs_index') }}">Retour à la liste des utilisateurs</a>
        {% else %}
            <h1>Vous n'êtes pas Administrateur, accès interdit !</h1>
        {% endif %}
    {% else %}
        <h1>Accès interdit !</h1>
    {% endif %}

</div>
{% endblock %}
