{% extends 'base.html.twig' %}

{% block title %}Editer informations personnelles{% endblock %}

{% block body %}
    <div class="container mt-5">

        {% if utilisateur.id == app.user.id %}
            <h1>Editer informations personnelles</h1>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-lg btn-primary">Enregistrer</button>
            {{ form_end(form) }}
        {% else %}
            <h1>Ce n'est pas votre profil, accès interdit !</h1>
        {% endif %}

    </div>
{% endblock %}